body { 
    background-color: #eee;

}

a{
    color: hotpink;
    text-decoration: none;
    background-color: #f00;
    border: solid 1px #b00;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
}

a:link{ /*Este es para cuando no ha sido visitado aun ni dado clic*/
    color: pink;
}

a:visited{ /*Este selector es para cuando yo ya lo he visitado*/
    color: #fff;
}


a:hover{ /*Este selector es para cuando pasamos el mouse por encima*/
    color: #fff;
    text-decoration: underline;
    background-color: #f55;
}

a:active{ /*Este selector es para cuando damos clic con el mouse*/
    color: black;
}

