body{
    background-color: #eee;
}


ul {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 5px;
    list-style-type: none;
    padding-left: 0px;
}

li {
    border-bottom: solid 1px #ddd;
    padding: 10px;
}



